@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: linear-gradient(#f0f6f8, #e0e1e7);
}
